html, body{
    margin: 0;
    font-size: 16px;
}
body{
    padding: .5rem;
}
a{
    text-decoration: none;
    color: #0645ad;
    background: none;
}

.title{
    margin: 0;
    border-bottom: 1px solid #a2a9b1;
    margin-bottom: 0.4rem;
}

.text-center{
    text-align: center;
}

.section-title{
    font-size: 1.5rem;
    border-bottom: 1px solid #a2a9b1;
}

.nav-menu {
    text-align: center;
}

.nav-menu ul{
    display: inline-block;
}
.nav-menu ul li{
    display: inline-block;
}
.nav-menu ul li.active{
    font-weight: bold;
}

.contents{
    display: inline-block;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 0.5rem;
}
.contents ol{
    margin: 0.2rem 0;
    padding: 0 1rem;
}

.btn{
    border: 2px solid #9accf6;
    background-color: #f1f9ff;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 4px 0;
}
.btn span, .btn img{
    vertical-align: middle;
}
.btn span{
    font-size: 0.9em;
    font-weight: bold;
}
.btn{

}